@import "base";
// 顶部
	.top{
		// width:1326px;
		height:51px;
	}
	.top img{
		// width:1326px;
		height:51px;
	}
// 头部
	.head{
		// min-width:1200px;
		height:40px;
		// width:1326px;
		background:#333333;
	}
	.head ul li{
		float:left;
		text-align:center;
		line-height:40px;
		padding-right:35px;
	}
	.head ul .li1{
		padding-left:140px;
	}
	.head ul .li3{
	
		padding-left:600px;
		padding-right:5px;
	}
	.head ul li:nth-child(4){
		padding-left:5px;
	}

	.head ul .li5{
		// width:46px;
		// height:40px;
		padding-left:20px; 
		background:url(../images/bj1.jpg) no-repeat left;
	}
	
	.head ul .li6 {
		padding-left:20px; 
		background:url(../images/bj2.jpg) no-repeat left;
  		// width:14px;
  		// height:12px;
	}

	.head ul li a{
		color:#ffffff;
		font-size:12px;
	}
	// 内容
	.content{
		height:919px;
		// width:1326px;
		 // background:pink;
	}
// 导航条部分
		.nav{
			height:222px;
			// width:1326px;
			 border-bottom:1px solid #eeeeee;
		// background:blue;		
		}
		.nav .nav-1{
			height:112px;
			// width:1326px;
		// background:pink;
		}
		.nav .nav-1 img{
			width:86px;
			height:50px;
			padding-left:625px;
			padding-top:62px;
		}
		.nav .nav-2{
			height:110px;
			// width:1326px;
			
			// background:yellow;
		}
		.nav .nav-2 .nav2-1{
		 	float:left;
			 width:950px;
			 height:110px;

		}
		.nav .nav-2 .nav2-1 ul{
			width:1150px;
			height:110px;
		}

		.nav .nav-2 .nav2-1 ul li{
			float:left;
			padding-right:70px;
			padding-top:72px;
		}
	 	.nav .nav-2 .nav2-1 ul li:nth-child(1){
			padding-left:84px;
		}
	 	.nav .nav-2 .nav2-1 ul li a{
			font-size:20px;
			color:#333333;
			font-weight:700;
		}
	
		// 隐藏导航部分
	 	.nav .nav-2 .nav2-1{
		 	position:relative;
		}
		// 大的div
		 .nav .nav-2 .nav2-1 .title{
			position:absolute;
			// width:1326px;
			height:350px;
			background:white;
			border-top:1px black solid;
			z-index:2;

		}
		// div1
	 	.nav .nav-2 .nav2-1 .div1{
		 	position:absolute;
		  	left:80px;
		 	width:150px;
		 	height:300px;
			background:white;
		 	z-index:2;
		 	// display:none;
		}
	 	.nav .nav-2 .nav2-1 .div1 h1{
			width:80px;
			height:20px;
			font-size:16px;
			font-weight:700px;
			padding-top:40px;
		}
		.nav .nav-2 .nav2-1 .div1 ul{
			float:left;
			width:60px;
			height:210px;
		}
	 	.nav .nav-2 .nav2-1 .div1 ul li{
			width:60px;
			height:15px;
		 	padding:10px;
		}
		.nav .nav-2 .nav2-1 .div1 ul li a{
			font-size:14px;
		}
	 	.nav .nav-2 .nav2-1  .div1 ul li:nth-child(1){
			padding-top:25px;
		}
		.nav .nav-2 .nav2-1  .div1 ol{
			float:left;
			width:80px;
			height:210px;
			padding-top:15px;
			padding-left:-20px;
		}
	 	.nav .nav-2 .nav2-1  .div1 ol li{
			width:80px;
			height:15px;
			font-size:14px;
			 padding:10px;	
		}

		// div2
	 	.nav .nav-2 .nav2-1 .div2{
		 	position:absolute;
		 	left:350px;
		 	width:150px;
		 	height:300px;
		 	background:white;
		 	z-index:2;
		 	// display:none;
		}
	 	.nav .nav-2 .nav2-1 .div2 h1{
			width:80px;
			height:20px;
			font-size:16px;
			font-weight:700px;
			padding-top:40px;
		}
		 .nav .nav-2 .nav2-1 .div2 ul{
			float:left;
			width:60px;
			height:210px;
		}
	 	.nav .nav-2 .nav2-1 .div2 ul li{
			width:60px;
			height:15px;
			
			padding:10px;
		}
		.nav .nav-2 .nav2-1 .div2 ul li a{
			font-size:14px;
		}
		.nav .nav-2 .nav2-1  .div2 ul li:nth-child(1){
			padding-top:25px;
		}
	 	.nav .nav-2 .nav2-1  .div2 ol{
			float:left;
			width:80px;
			height:210px;
			padding-top:15px;
			padding-left:-20px;
		}
		.nav .nav-2 .nav2-1  .div2 ol li{
			width:80px;
			height:15px;
			font-size:14px;
			padding:10px;	
		}
		//div3
	 	.nav .nav-2 .nav2-1 .div3{
			 position:absolute;
			 left:650px;
		 	width:150px;
			height:300px;
		 	background:white;
			 z-index:2;
		 	// display:none;
		}
	 	.nav .nav-2 .nav2-1 .div3 h1{
			width:80px;
			height:20px;
			font-size:16px;
			font-weight:700px;
			padding-top:40px;
		}
	 	.nav .nav-2 .nav2-1 .div3 ul{
			float:left;
			width:60px;
			height:210px;
		}
	 	.nav .nav-2 .nav2-1 .div3 ul li{
			width:60px;
			height:15px;
			
		 	padding:10px;
		}
		.nav .nav-2 .nav2-1 .div3 ul li a{
			font-size:14px;
		}
	 	.nav .nav-2 .nav2-1  .div3 ul li:nth-child(1){
			padding-top:25px;
		}
	 	.nav .nav-2 .nav2-1  .div3 ol{
			float:left;
			width:80px;
			height:210px;
			padding-top:15px;
			padding-left:-20px;
		}
	 	.nav .nav-2 .nav2-1  .div3 ol li{
		width:80px;
		height:15px;
		font-size:14px;
		 padding:10px;	
		}
		//div4
	 	.nav .nav-2 .nav2-1 .div4{
		 position:absolute;
		 left:850px;
		 width:150px;
		 height:300px;
		 background:white;
		 z-index:2;
		 // display:none;
		}
	 	.nav .nav-2 .nav2-1 .div4 h1{
		width:80px;
		height:20px;
		font-size:16px;
		font-weight:700px;
		padding-top:40px;
		}
	 	.nav .nav-2 .nav2-1 .div4 ul{
		float:left;
		width:60px;
		height:210px;
		}
	 	.nav .nav-2 .nav2-1 .div4 ul li{
		width:60px;
		height:15px;
		
		 padding:10px;
		}
		.nav .nav-2 .nav2-1 .div4 ul li a{
			font-size:14px;	
		}
	 	.nav .nav-2 .nav2-1  .div4 ul li:nth-child(1){
		padding-top:25px;
		}
	 	.nav .nav-2 .nav2-1  .div4 ol{
		float:left;
		width:80px;
		height:210px;
		padding-top:15px;
		padding-left:-20px;
		}
	 	.nav .nav-2 .nav2-1  .div4 ol li{
		width:80px;
		height:15px;
		font-size:14px;
		 padding:10px;	
		}
		//div5
	 	.nav .nav-2 .nav2-1 .div5{
		 position:absolute;
		 left:1050px;
		 width:150px;
		 height:300px;
		 background:white;
		 z-index:2;
		 // display:none;
		}
	 	.nav .nav-2 .nav2-1 .div5 h1{
		width:80px;
		height:20px;
		font-size:16px;
		font-weight:700px;
		padding-top:40px;
		}
	 	.nav .nav-2 .nav2-1 .div5 ul{
		float:left;
		width:60px;
		height:210px;
		}
	 	.nav .nav-2 .nav2-1 .div5 ul li{
		width:60px;
		height:15px;
		
		 padding:10px;
		}
		.nav .nav-2 .nav2-1 .div5 ul li a{
			font-size:14px;	
		}

	 	.nav .nav-2 .nav2-1  .div5 ul li:nth-child(1){
		padding-top:25px;
		}

// 右侧搜索框部分
	 	.nav .nav-2 .nav2-2{
		float:left;
		width:188px;
		height:38px;
		 // padding-left:100px;
		
		// padding-right:70px;
		padding-top:72px;
		// background:url(../images/sousuo.jpg) no-repeat 175px 73px;
		}
	 	.nav .nav-2 .nav2-2 input{
		// width:180px;
		height:25px;
		border:1px solid white;
		border-bottom:1px solid #333333;
		}
	 	.nav .nav-2 .nav2-2 img{
		 width:16px;
		 height:16px;
		 float:right;
		 padding-top:-20px;
		 // padding-left:5px;
		}
		
// 正文部分
	.content-main{
		// width:1326px;
		// height:15000px;
		 // background:pink;
	}
	// 标题部分
	#menu {
		// width:1326px;
		height:60px;
		// overflow:hidden;
 		// padding: 0 34px;
 		// margin-top:34px;
 	  }
 	#menu .m-t {
  		height:60px;
  		padding-left:74px;
  		margin-top:30px;

  		// font: 600 16px/80px '';	
  	}
	#menu .m-t span{
		color: #000; 
  		font-size:12px;
  		font-weight:900px;
	}
	#menu .m-t a {
  		color: #000; 
  		font-size:12px;
  		font-weight:900px;
  	}
  	// 内容部分
	#main {
		
		height:818px;
  		// padding: 0 36px;
  		// background:red;
 		// margin-bottom: 60px; 
 	}
 	// 左边七张小图内容
 	#main .m-l {
  		float: left;
  	 }

	#main .m-l img {
  		display: block;
  		border: 1px solid #e2e2e2;
 		margin: 5px 65px;
 	}

	#main .m-l img:hover {
  		border: 1px solid #000;
  	}
	// 中间大图内容部分
	#main .m-c {
  		float: left; 
  	}

	#main .m-c #div {
  		width: 538px;
  		height: 800px;
  		padding: 5px;
  		position: relative; 
  	 	// background:yellow;
  	 }

	#main .m-c .small_pic {
  		width: 535px;
  		height: 795px;
  		position: relative; 
  		// background:pink;
  	}
  	#main .m-c .small_pic .mark {
  		width: 100%;
  		height: 100%;
  		position: absolute;
  		z-index: 2;
  		left: 0px;
  		top: 0px;

  	 }
	// 中间内容--左侧小的遮罩层
	#main .m-c  .small_pic .float_layer {
  		width: 200px;
  		height: 200px;
  		background: #afabab;
  		opacity: 0.3;
  		position: absolute;
  		top: 0;
  		left:0;
  		display: none; 
  	}
  	// 中间的图片
  	#main .m-c  .small_pic #img1{
  		width:450px;
  		height:450px;
  	}
	// 中间内容--右侧大的遮罩层
	#main .m-c .big_pic {
  		position: absolute;
  		top: 6px;
  		left: 540px;
  		width: 400px;
  		height: 400px;
  		overflow: hidden;
  		border: 1px solid #000;
  		display: none; 
  		
	}
	// 中间内容--右侧大遮罩层中的图片
	#main .m-c .big_pic img {
  		position: absolute;
  		top: -6px;
  		left: -120px;
  	 }
	// 最右侧商品详细介绍内容
	#main .m-r {
  		float: left; 

 	}

	#main .m-r img {
  		border: 1px solid #e2e2e2;
  		margin-right: 10px; 
  	}

	#main .m-r img:hover {
  		border: 1px solid #000; 
  	}

	#main .m-r p {
  		font: 16px/30px '';
  		width: 467px;
  		margin-top:22px;
  	 }

	#main .m-r .span1 {
  		font: 600 24px/60px '';
  		display:inline-block;
  		margin-top:25px;
  	 }

	#main .m-r .i1 {
  		font: 16px/30px '';
  		text-decoration: line-through;
  	 }
  	#main .m-r .div1{
		width:400px;
		height:65px;
		border-bottom:1px dashed #a7a7a7;
  	} 
	#main .m-r .div1 .dl1{
		padding-top:10px;
	}
	#main .m-r .div1 .dl1 dt{
		 color: #fff;
		 background:black;
    	text-align: center;
    	height: 16px;
    	font: 12px/16px '';
    	margin: 3px 12px 0 0;
    	padding: 0 5px;
    	// overflow: hidden;
    	float:left;
	}
	#main .m-r .div1 .dl1 .dd1{
		float:left;
	}
	#main .m-r .div1 .dl1 .dd1 .tip{
		font-size:12px;
	}
	#main .m-r .div1 .dl1 .dd1 .tip b{
		font-weight:700;
	}
	#main .m-r .b2 {
  		font: 12px/30px ''; 
  		float:left;
  		margin-top:30px;

  	}
	#main .m-r .x10{
		width:60px;
		height:60px;
		margin-top:30px;
	}
	#main .m-r .b3{
		font: 12px/30px ''; 
  		float:left;
  		margin-top:30px;
	}
	#main .m-r .span2 {
  		display: inline-block;
  		font: 600 12px/20px '';
  		color: #666;
  		border: 1px solid #e2e2e2;
  		width: 50px;
  		text-align: center;
  		margin-top:30px;
  		margin-right:3px; 

  	 }

	#main .m-r .span2:hover {
  		color: #000;
  		border: 1px solid #000; 
  	}
  	#main .m-r .b4{
		font: 12px/30px ''; 
  		float:left;
  		margin-top:35px;
	}
	#main .m-r .div2{
		margin-top:35px;
	}
	#main .m-r .i2, .i3 {
 	 	font: 20px '';
 		border: 1px solid #e2e2e2; 
 	}

	#main .m-r i:hover {
  		border: 1px solid #000; 
  	}

	#main .m-r .span3 {
  		font: 20px '';
 	 	margin: 0 10px;
 	 }
	#main .m-r .b5{
		 float:left;
	}
	// #main .m-r a{
 // 		display:inline-block;
 //  		font: 20px/50px '';
 //  		width:210px;
  		
 //  		border: 1px solid #000;
 //  		text-align: center;
 //  		margin: 30px 6px 0 0; 
  		
 //  	}
	#main .m-r .plus{
		background: #000;
		color: #fff; 
		display:inline-block;
  		font: 20px/50px '';
  		width:210px;
  		
  		border: 1px solid #000;
  		text-align: center;
  		margin: 30px 6px 0 0; 
	}
	#main .m-r .buy{
		display:inline-block;
  		font: 20px/50px '';
  		width:210px;
  		
  		border: 1px solid #000;
  		text-align: center;
  		margin: 30px 6px 0 0; 
	}
	#main .m-r .ul6{
		// float:left;

	}
	#main .m-r .ul6 li{
		float:left;
		margin-top:30px;
		 padding-right:20px;
	}
	#main .m-r .ul6 .li1 .icon-shoucang{
		color:#666;
	}

	#main .m-r .ul6 li a{
		font-size:12px;
		color:#333333;
	}
	#main .m-r .p6{
		float:left;
		 // margin-left:50px;
	}
	#main .m-r .p6 img{
		margin-left:320px;	
	}
	#main .m-r .p6 .b6{
		margin-left:320px;
		font-size:12px;
		color:#666666;	
	}
	// #main .m-r .plus:hover {
 //  	background: #000;
 //  	color: #fff; 
 //  }

	// #main .m-r .buy:hover {
 //  	background: #000;
 //  	color: #fff; }

	#content {
  		padding: 50px 0; 
  	}

	#content h3 {
  		font: 30px/60px '';
  		text-align: center; 
  	}

	#content img {
  		display: block;
  		width: 700px;
 		margin: 20px auto; 
 	}

	#content .img {
  		width: 900px; 
  	}

	#content p {
 		width: 900px;
 		font-size:12px;
  		margin-left: 180px;
    }



 // 底部
	.foot{
		height:593px;
		// width:1326px;
		background:#333333;
	}
// foot-1
	.foot .foot-1{
		height:116px;
		// width:1326px;
		// background:green;
	}
	.foot .foot-1 ul li{
		float:left;
		text-align:center;
		line-height:116px;
		 padding-right:103px;
	}
	.foot .foot-1 ul li:nth-child(1){
		padding-left:110px;
	}
	.foot .foot-1 ul li i{
		float:left;
		padding-top:46px;
		padding-right:16px;
	}
	.foot .foot-1 ul li a{
		color:#ffffff;
		font-size:18px;
	}
// foot-2
	.foot .foot-2{
		float:left;	
		// width:1326px;
		height:212px;
		border-top:1px solid #666666;
		// background:skyblue;
	}
	.foot .foot-2 .div1{
		float:left;
		width:233px;
		height:212px;
		padding-left:67px;
		 // background:yellow;
	}
	 .foot .foot-2 .div1 ul{
	 	padding-left:67px;
	 }
	.foot .foot-2 .div1 ul h2{
		// padding-left:68px;
		font-size:12px;
		color:#ffffff;
		padding-top:30px;
	}
	.foot .foot-2 .div1 ul li{
		// text-align:center;
		
		padding-top:22px;	 
	}

	.foot .foot-2 .div1 ul li a{
		font-size:12px;
		color:#666666;
	}
	.foot .foot-2 .div2{
		float:left;
		width:156px;
		height:212px;
		// background:red;
	}
	.foot .foot-2 .div2 ul h2{
		// padding-left:68px;
		font-size:12px;
		color:#ffffff;
		padding-top:30px;
	}
	.foot .foot-2 .div2 ul li{

		padding-top:22px;	 
	}
	.foot .foot-2 .div2 ul li a{
		font-size:12px;
		color:#666666;
	}

	.foot .foot-2 .div3{
		float:left;
		width:178px;
		height:212px;
		// background:blue;
	}
	.foot .foot-2 .div3 ul h2{
		// padding-left:68px;
		font-size:12px;
		color:#ffffff;
		padding-top:30px;
	}
	.foot .foot-2 .div3 ul li{

		padding-top:22px;	 
	}
	.foot .foot-2 .div3 ul li a{
		font-size:12px;
		color:#666666;
	}
	.foot .foot-2 .div4{
		float:left;
		width:156px;
		height:212px;
		// background:green;
	}
	.foot .foot-2 .div4 ul h2{
		// padding-left:68px;
		font-size:12px;
		color:#ffffff;
		padding-top:30px;
	}
	.foot .foot-2 .div4 ul li{

		padding-top:22px;	 
	}
	.foot .foot-2 .div4 ul li a{
		font-size:12px;
		color:#666666;
	}
	.foot .foot-2 .div5{
		float:left;
		width:143px;
		height:212px;
		// background:skyblue;
	}
	.foot .foot-2 .div5 ul h2{
		// padding-left:68px;
		font-size:12px;
		color:#ffffff;
		padding-top:30px;
	}
	.foot .foot-2 .div5 ul li{

		padding-top:22px;	 
	}
	.foot .foot-2 .div5 ul li a{
		font-size:12px;
		color:#666666;
	}
	.foot .foot-2 .div6{
		float:left;
		width:178px;
		height:212px;
		 // background:red;
	}
	.foot .foot-2 .div6 ul h2{
		// padding-left:68px;
		font-size:12px;
		color:#ffffff;
		padding-top:30px;
	}
	.foot .foot-2 .div6 ul li{

		padding-top:22px;	 
	}
	.foot .foot-2 .div6 ul li a{
		font-size:12px;
		color:#666666;
	}
// foot-3
	.foot .foot-3{
		float:left;
		// width:1326px;
		height:267px;
		// background:pink;

	}
	.foot .foot-3 .div1{
		width:1326px;
		height:152px;
		// background:red;
	}
	.foot .foot-3 .div1 ul li{
		float:left;
		
		padding-top:100px;
	}
	.foot .foot-3 .div1 ul li:nth-child(1){
		padding-left:120px;
	}
	.foot .foot-3 .div1 ul li img{
		width:123px;
		height:47px;
		padding-right:16px;
	}
	.foot .foot-3 .div1 ol li{
		float:left;

	}
	.foot .foot-3 .div1 ol li:nth-child(1){
		padding-left:205px;
	}
	.foot .foot-3 .div1 ol li img{
		width:121px;
		height:120px;
		padding-right:58px;
	}
	.foot .foot-3 .div1 ol li p{
		font-size:12px;
		color:#ffffff;
		padding-top:17px;

	}
	.foot .foot-3 .div1 ol li .p2{
		padding-left:30px;
	}
	.foot .foot-3 .div2{
		height:43px;
		// background:pink;
	}
	.foot .foot-3 .div2 ul li{
		float:left;
		// padding-right:32px;
		padding-top:23px;
	}
	.foot .foot-3 .div2 ul li:nth-child(1){
		padding-left:100px;
	}
	
	.foot .foot-3 .div2 ul li a{
		font-size:12px;
		color:#ffffff;	
		padding-left:20px;
		padding-right:20px;
		border-right:1px solid #566656;
	}
	.foot .foot-3 .div2 ul .li6 a{
		border-right:none;
	}
	.foot .foot-3 .div3{
		height:73px;
	}
	.foot .foot-3 .div3 p{
		font-size:12px;
		padding-top:22px;
		color:#ffffff;
		padding-left:118px;
	}
	// 悬浮层
	#good_Car {
 display: none;
  width: 430px;
  border: 8px solid #DDD;
  z-index: 10000;
  left: 50%;
  top: 50%;
  margin-left: -215px;
  margin-top: -150px;
  position: fixed;
  background: #fff; }

/**上半部分****/
#good_Car .good_Car_top {
  margin-left: 25px;
  width: 390px;
  padding-bottom: 10px;
  float: left;
  font-size: 12px; }

#good_Car .good_Car_top ul {
  width: 100%;
  float: left; }

/***上******/
#good_Car .good_Car_top ul li {
  margin-top: 10px;
  width: 100%;
  line-height: 20px;
  float: left; }

#good_Car .good_Car_top ul li .good_topname {
  color: #393939;
  font-size: 16px;
  float: left; }

#good_Car .good_Car_top ul li .good_toplose {
  color: #393939;
  font-size:14px;
  float: right;
  cursor: pointer; }

/****上中*****/
#good_Car .good_Car_top ul li a {
  float: left;
  margin-right: 10px; }
 #good_Car .good_Car_top ul li a img{
 	width:100px;
 } 

/****下半部分*****/
#good_Car .good_Car_buttom {
  width: 420px;
  border-top: 1px dotted #DDD;
  margin: 10px 0px 0px 5px;
  float: left; }

#good_Car .good_Car_buttom .good_Car_but {
  font-size: 12px;
  margin: 10px 0px 0px 10px;
  color: #7B7B7B; }

#good_Car .good_Car_buttom .good_Car_NR {
  margin: 10px 0px 0px 5px; }

#good_Car .good_Car_buttom .good_Car_NR .good_Car_pic {
  width: 85px;
  margin-left: 15px;
  text-align: center;
  float: left; }

#good_Car .good_Car_buttom .good_Car_NR .good_Car_pic a img {
  height: 80px;
  padding: 1px;
  border: 1px solid #DDD; }

#good_Car .good_Car_buttom .good_Car_NR .good_Car_pic .car_name {
  color: #7B7B7B;
  text-align: left;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
  margin-top: 5px;
  font-size: 12px; }

#good_Car .good_Car_buttom .good_Car_NR .good_Car_pic .car_money {
  color: #C80A28;
  font-size: 14px;
  height: 25px;
  text-align: left; }
